@import "tailwindcss";

@theme{
    --color-blue-500 : oklch(12.96% 0.0274 261.69);
    --color-blue-200 : oklch(27.95% 0.0368 260.03);
    --font-display: "Inter", "sans-serif";
    --color-gray-200 : oklch(37.31% 0.0343 260.17);
    --color-gray-100 : oklch(41.58% 0.0343 260.17) ;
}
